.banner{
	width: 100%;
}
.nastred{
	text-align: center;
	  margin-left: auto;
  margin-right: auto;
}
.icona-hore{
font-size: 25px;
}
.slozka{
width: 250px;
float: left;
padding-bottom: 35px;
}
.input-fix{
margin: 5px;
}
.napravo{
float: right;
}
.obrazek{
width: 90%;

}
.img48{
	width: 48px;
}
.obrazek-ramecek{
margin: 10px;
float: left;
width: 200px;
}
.zobraz{
width: 1000px;
}
.nastred-obr{
width: 90%;
}
.form-text{
  float: left;
  padding: 7px;
}
.margin-fix{
	margin-left: 5px;
}
.signature{
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    bottom: 0px;
}
.main{
margin-top: 25px;
}
.float-left{
float: left;
}
.float-right {
float: right;
}
.clear{
clear: both;
}
.half-width{
width: 50%;
}
.fixed-top{
	position: fixed;
	top: 0px;
	width: 100%;
}
.spacer {
height: 50px;
}
.margin-fix{
margin: 20px;
}
.height-fix{
	height: 200px;
}
.star{
	height: 400px;
}
.planet{
	width: 20%;
	float: left;
}
th{
	text-align: center;
}
@media all and (min-width: 1000px) {
.form-install{
  background-color: rgba(63, 124, 182,255);
  width: 50%;
  margin: 0 auto;
  padding: 50px 20px 50px 20px;
  border: 1px solid gray;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
}
.game-main{
	width: 80%;
}
.margin-fix{
margin: 45px;
}
.right-units{
	width: 33%;
	float: right;
}
.middle-units{
  width: 20%;
  float: left;
  /* margin: 0 auto; */
  /* left: 297px; */
  margin-left: 7%;
}
.left-units{
	width: 33%;
	float: left;
}
}
@media all and (min-width: 600px) and (max-width: 999px){
.form-install{
  background-color: rgba(63, 124, 182,255);
  width: 80%;
  margin: 0 auto;
  padding: 50px 20px 50px 20px;
  border: 1px solid gray;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
}
.game-main{
	width: 90%;
}
.margin-fix{
margin: 35px;
}
.right-units{
	width: 33%;
	float: right;
}
.middle-units{
  width: 20%;
  float: left;
  /* margin: 0 auto; */
  /* left: 297px; */
  margin-left: 7%;
}
.left-units{
	width: 33%;
	float: left;
}
}
@media all and (max-width: 599px) {
.form-install{
  background-color: rgba(63, 124, 182,255);
  width: 95%;
  margin: 0 auto;
  padding: 50px 20px 50px 20px;
  border: 1px solid gray;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
}
.game-main{
	width: 95%;
}
.margin-fix{
margin: 40px;
}
}

.mc-obrazek{
	width: 23%;
	float: left;
	margin: 1%;
	
	
}
